## 1. while문

In [1]:
treeHit = 0

while treeHit<10:
    treeHit += 1
    print("나무를 %d번 찍었습니다." %treeHit )

    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [2]:
prompt ="""
1.Add
2.Del
3.List
4.Quit

Enter number:"""

In [3]:
number=0
while number !=4:
    print(prompt)
    number=int(input())

1.Add
2.Del
3.List
4.Quit

Enter number:

 4

In [5]:
coffee =10
money= 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee-= 1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break  #반복문 강제 종료

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [2]:
coffee = 10
while True:
    money = int(input("돈을 넣어주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee-=1
    elif money>300:
        print("거스름돈 %d를 주고 커피를 줍니다."% (money-300))
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어주세요:  5555

거스름돈 5255를 주고 커피를 줍니다.

돈을 넣어주세요:  30

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 10개 입니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  1

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개 입니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [20]:
#continue 문 - while 문의 맨 처음으로 돌아가기

a =0
while a<10:
    a+= 1
    if a % 2 ==0: continue # 짝수 라면 뒤로가지않고 문장의 앞으로 돌아감
    print(a)

1
3
5
7
9

## 2. for문

In [1]:
test_list = ['one','two','three']

for i in test_list:
    print(i)

one
two
three

In [2]:
a= [(1,2),(3,4),(5,6)]
print (a[2])
print(a[2][0])

(5, 6)
5

In [3]:
for (first,last) in a:
    print(first+last)

3
7
11

In [4]:
for i in a:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [8]:
for (first,last) in a:
    print(first)

1
3
5

In [16]:
marks=[90,25,67,45,80]
number = 0 # 학생에게 붙여줄 번호

for i in marks:
    number += 1
    if i >= 60:
        print("%d번 학생은 합격입니다."%number)
    else:
        print("%d번 학생인 불합격입니다."%number)

1번 학생은 합격입니다.
2번 학생인 불합격입니다.
3번 학생은 합격입니다.
4번 학생인 불합격입니다.
5번 학생은 합격입니다.

In [21]:
marks=[90,25,67,45,80]
number = 0 # 학생에게 붙여줄 번호

for i in marks:
    number += 1
    if i < 60 :
        continue
    print("%d번 학생은 합격입니다. 축하합니다."%number)   #아닌것은 따로 출력해야하므로 따로 빼야한다. 들여쓰기 처리 주의

1번 학생은 합격입니다. 축하합니다.
3번 학생은 합격입니다. 축하합니다.
5번 학생은 합격입니다. 축하합니다.

#### for문과 함께 자주 사용하는 range함수

In [28]:
a = range(10)
print(a)
print(type(a))

range(0, 10)
<class 'range'>

In [26]:
a = list(a)
print(a)
print(type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [29]:
a = range(1,11)
print(a)

range(1, 11)

In [30]:
a=list(a)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
#15,20
a=list(range(15,21))
a

[15, 16, 17, 18, 19, 20]

In [35]:
add = 0
for i in range(1,11):
    add += i
    print(add)
print("-"*20)
print(add)

1
3
6
10
15
21
28
36
45
55
--------------------
55

In [42]:
marks=[90,25,67,45,80]
number = 0 # 학생에게 붙여줄 번호

for i in range(len(marks)): #range(5) :0~4
    if marks[i] < 60 :
        continue
    print("%d번 학생은 합격입니다. 축하합니다."%(i+1))

1번 학생은 합격입니다. 축하합니다.
3번 학생은 합격입니다. 축하합니다.
5번 학생은 합격입니다. 축하합니다.

In [46]:
#구구단

for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ") # 기본값은 줄바꿈이 되므로 끝나는 문자를 공백으로 지정해줌
    print('') #단수를 나누기위해서 공백삽입

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [58]:
#구구단

for i in range(2,10):
    print("%d단"%i)
    for j in range(1,10):
        print("%d * %d = %d"%(i,j,i*j) ,end="  |  ") # 기본값은 줄바꿈이 되므로 끝나는 문자를 공백으로 지정해줌
    print("")
    print('-'*120) #단수를 나누기위해서 공백삽입

2단
2 * 1 = 2  |  2 * 2 = 4  |  2 * 3 = 6  |  2 * 4 = 8  |  2 * 5 = 10  |  2 * 6 = 12  |  2 * 7 = 14  |  2 * 8 = 16  |  2 * 9 = 18  |
------------------------------------------------------------------------------------------------------------------------
3단
3 * 1 = 3  |  3 * 2 = 6  |  3 * 3 = 9  |  3 * 4 = 12  |  3 * 5 = 15  |  3 * 6 = 18  |  3 * 7 = 21  |  3 * 8 = 24  |  3 * 9 = 27  |
------------------------------------------------------------------------------------------------------------------------
4단
4 * 1 = 4  |  4 * 2 = 8  |  4 * 3 = 12  |  4 * 4 = 16  |  4 * 5 = 20  |  4 * 6 = 24  |  4 * 7 = 28  |  4 * 8 = 32  |  4 * 9 = 36  |
------------------------------------------------------------------------------------------------------------------------
5단
5 * 1 = 5  |  5 * 2 = 10  |  5 * 3 = 15  |  5 * 4 = 20  |  5 * 5 = 25  |  5 * 6 = 30  |  5 * 7 = 35  |  5 * 8 = 40  |  5 * 9 = 45  |
------------------------------------------------------------------------------------------------------------------------
6단
6 * 1 = 6  |  6 * 2 = 12  |  6 * 3 = 18  |  6 * 4 = 24  |  6 * 5 = 30  |  6 * 6 = 36  |  6 * 7 = 42  |  6 * 8 = 48  |  6 * 9 = 54  |
------------------------------------------------------------------------------------------------------------------------
7단
7 * 1 = 7  |  7 * 2 = 14  |  7 * 3 = 21  |  7 * 4 = 28  |  7 * 5 = 35  |  7 * 6 = 42  |  7 * 7 = 49  |  7 * 8 = 56  |  7 * 9 = 63  |
------------------------------------------------------------------------------------------------------------------------
8단
8 * 1 = 8  |  8 * 2 = 16  |  8 * 3 = 24  |  8 * 4 = 32  |  8 * 5 = 40  |  8 * 6 = 48  |  8 * 7 = 56  |  8 * 8 = 64  |  8 * 9 = 72  |
------------------------------------------------------------------------------------------------------------------------
9단
9 * 1 = 9  |  9 * 2 = 18  |  9 * 3 = 27  |  9 * 4 = 36  |  9 * 5 = 45  |  9 * 6 = 54  |  9 * 7 = 63  |  9 * 8 = 72  |  9 * 9 = 81  |
------------------------------------------------------------------------------------------------------------------------

#### 리스트 컴프리헨션(list comprehension)

In [59]:
a = [1,2,3,4]
result = []


for num in a :
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [61]:
#리스트 컴프리헨션으로 표현
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [64]:
a=[1,2,3,4]
result = [num * 3 for num in a if num%2==0] #[표현식 for 항목 in 반복가능객체 if 조건문]
print(result)

[6, 12]

In [69]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(list(result))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 1) 기본구조 : [표현식 + for 문]

In [71]:
#표현식에 변수또는 상수를 쓰는 경우
n = 5
result = [0 for i in range(n)]
print(result)

[0, 0, 0, 0, 0]

In [72]:
result = [i for i in range(n)]
print(result)

[0, 1, 2, 3, 4]

In [73]:
array = list(range(10)) # [0,1,2,3,4,5,6,7,8,9]
result =[n for n in array]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
# 표현식에 연산식이나 함수를 쓰는 경우
result = [n*n for n in array]
print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
str_array = ["List","Comprehension","python"]
result = [len(string) for string in str_array]
print(result)

[4, 13, 6]

In [76]:
def mod_5(number):
    return number%5

result = [mod_5(n) for n in array]
print(result)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

### 2) [표현식 + for문 + 조건문]

In [79]:
# if문 한 번 사용한 경우
result = [n for n in range(10) if n%2==0]
print(result)

[0, 2, 4, 6, 8]

In [80]:
result = [n for n in range(10) if n%2==1]
print(result)

[1, 3, 5, 7, 9]

In [81]:
array = [-1,0,-4,24,5,-10,2]
result = [n for n in array if n>0]
print(result)

[24, 5, 2]

In [83]:
# if문 여러번 사용한 경우
result = [n for n in range(50) if n%3 ==0 if n%2!=0]  #3의배수이면서 홀수인경우
print(result)

[3, 9, 15, 21, 27, 33, 39, 45]

### 3) [표현식 + 조건문 +for문]

In [85]:
result = [n if n>0 else 0 for n in array]
print(result)

[0, 0, 0, 24, 5, 0, 2]

In [87]:
array = [0,1,2,3]
result = ['even' if n%2==0 else 'odd' for n in array]
print(result)

['even', 'odd', 'even', 'odd']

### 4) 중첩 for문

In [89]:
# 중첩 for문
pos =[]
for i in range(1,4):
    for j in range(1,3):
        pos.append(i*j)
print(pos)

[1, 2, 2, 4, 3, 6]

In [90]:
# 리스트 컴프리헨션으로
pos = [i*j for i in range(1,4) for j in range(1,3)]
print(pos)

[1, 2, 2, 4, 3, 6]

### 5) 중첩 List Comprehension

In [93]:
# 2차원 배열 만들기 (행렬 3*2)
result = [[0 for i in range(2)]for j in range(3)]
print(result)

[[0, 0], [0, 0], [0, 0]]