## 1. 파이썬 함수

In [3]:
def add(a,b):
    return a+b

a,b = 3,4
c = add(a,b)
print(c)

d = add(111,222)
print(d)

7
333

In [4]:
def add(a,b): # 리턴값없음
    print(a+b)

a,b = 3,4
c = add(a,b)
#print(c)

d = add(111,222)
#print(d)

7
333

In [5]:
# 1. 매개변수 True , 리턴값 True

def minus(a,b):
    result = a - b
    return result

a = minus(10,4)
print(a)

6

In [6]:
# 2. 매개변수 False 리턴값 True

def say():
    return 'Hi!'

print(say())
a=say()

Hi!

In [9]:
# 3. 매개변수 True 리턴값 False
def add(x,y):
    print("%d, %d의 합은 %d입니다."%(x,y,x+y))

add(12,24)
a= add(12,24)
print(a) #하지만 리턴값이 없기때문에 변수에 저장은 되지않는다.

12, 24의 합은 36입니다.
12, 24의 합은 36입니다.
None

In [12]:
# 4. 매개변수 False 리턴값 False
def say():
    print('Hi!')

say()

Hi!

In [14]:
# 키워드 매개변수 (매개변수를 지정하여 전달하기)
def sub(a, b):
    return a - b
result = sub(7, 3)
print(result)

result2 = sub(b=3, a=7)
print(result2)

4
4

In [20]:
# 가변 매개변수(*매개변수명)
def add_many(*args):
    result = 0
    for i in args:
        result+= i
    return result
        
a= add_many(1,2,3,4,5)
print(a)
b= add_many(1,2,3,4,5,6,7,8,9,10)
print(b)

15
55

In [23]:
def add_mul(choice, *args):
    if choice =="add":
        result = 0
        for i in args:
            result += i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    return result

res1 = add_mul('add',1,2,3)
print(res1)

res2 = add_mul('mul',1,2,3,4,5)
print(res2)

6
120

In [24]:
# 키워드 가변 매개변수(**매개변수)

def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1,name='foo',age=3)

{'a': 1, 'name': 'foo', 'age': 3}

In [27]:
# 함수의 리턴값은 하나!!
def add_and_mul(a,b):
    return a+b, a*b

res =add_and_mul(3,4)
print(res)

res1, res2 = add_and_mul(3,4)
print("a+b =",res1)
print("a+b =",res2)

(7, 12)
a+b = 7
a+b = 12

In [29]:
def add_and_mul(a,b):
    return a+b
    return a*b

res = add_and_mul(2,3)
print(res)    #return 함수는 결과값을 반환하고 함수를 정지한다.

5

In [31]:
# return의 또 다른 쓰임새
def say_nick(nick):
    if nick == '바보':
        return print("너는 바보입니다.")
    print("나의 별명은 %s 입니다."%nick)

say_nick('야호')
say_nick('바보')

나의 별명은 야호 입니다.
너는 바보입니다.

In [37]:
# 매개변수에 초기값 설정
def say_myself(name,age,man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")


#함수 호출
say_myself("빙승현",37,"man")

나의 이름은 빙승현입니다.
나이는 37살입니다.
남자입니다.

In [49]:
# 함수 안에서 선언한 변수의 유효 범위 -> 1.return 명령어 사용하기

a = 1
def vartest(a):
    a += 1
    return a

vartest(a) #아무것도 실행안됨
print(a) #함수 밖에있는 a출력됨
    
a = vartest(a)  #변수에 함수값이 들어가서 되먹임으로 다시 변수에 값이입력됨
print(a)

1
2

In [53]:
# 함수 안에서 선언한 변수의 유효 범위 -> 2.global 명령어 사용하기
a = 1
def vartest():
    global a # 함수 안에서의 a는 전역변수로 변경
    a+= 1
    
print(a)
vartest()
print(a)
vartest()
print(a)
vartest()
print(a)

1
2
3
4

In [54]:
# Lambda 표현식(예약어) 사용 안하고 함수 선언
def add(a,b):
    return a+b

print(add(3,4))

7

In [55]:
# Lambda 표현식(예약어) 사용하여 표현
add = lambda a,b : a+b
print(add(3,4))

7

## 2. 함수의 활용

#### 1) 재귀함수
: 내가 만든 함수를 다시 호출하는 것

In [57]:
# 반복문으로 팩토리얼 구하기
def factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output

print("1!:", factorial(1))
print("2!:", factorial(2))
print("3!:", factorial(3))
print("4!:", factorial(4))
print("5!:", factorial(5))

1!: 1
2!: 2
3!: 6
4!: 24
5!: 120

In [61]:
# 재귀 함수로 팩토리얼 구하기
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print("5!:", factorial(5))

print(factorial(0))

5!: 120
1

#### 2) 리스트 평탄화하는 재귀함수 만들기

In [65]:
# 반복문으로 리스트 평탄화
def flatten(data):
    output =[]
    for item in data:
        if type(item) == list:
            output += item
        else:
            output.append(item)
    return output

example= [[1,2,3],[4,[5,6]],7,[8,9]]
print(len(example))

a=flatten(example)

print('원본: ', example)
print('변환: ', flatten(example))
print('2차변환: ',flatten(a))

4
원본:  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환:  [1, 2, 3, 4, [5, 6], 7, 8, 9]
2차변환:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
# 재귀 함수로 리스트 평탄화

def flatten(data):
    output =[]
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)
    return output

example= [[1,2,3],[4,[5,6]],7,[8,9]]
print(len(example))

print('원본: ', example)
print('변환: ', flatten(example))

4
원본:  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환:  [1, 2, 3, 4, 5, 6, 7, 8, 9]